# API
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2

# Database
sqlalchemy==2.0.36
psycopg2-binary==2.9.10

# Queue / scheduler
celery==5.4.0
celery-redbeat==2.2.0
redis==5.1.0
flower==2.0.1

# Vault
hvac==2.3.0

# Providers
boto3==1.35.0
azure-identity==1.18.0
azure-mgmt-compute==33.0.0
pyvmomi==8.0.3.0.1
